.help{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.shuffling{
    width: 1080px;
    height: 300px;
}

.help_content{
    width: 1080px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 10px;
}

.questions{
    width: 100%;
}

.questions li:hover{
    background: #fff6f6;
}

.questions li{
    cursor: default;
    padding: 10px;
}

.help_tag{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    border: #e9e9e9 solid 1px;
}

.question_index{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: #ffede8;
    border-bottom: #e9e9e9 solid 1px;
    font-weight: bold;
}

.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.help_tag_content{
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.website_instructions,.contact_us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #e9e9e9 solid 1px;
    margin-top: 10px;
}

.web_site_instructions_top{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Microsoft YaHei";
}

.activity_organized,.account_question{
    padding: 10px;
    width: 830px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: #e9e9e9 solid 1px;
    margin-top: 10px;
}

.nav-ch{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
}

.nav-en{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #9F9F9F;
}